<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<configSections>
		<section name="superSocket" type="SuperSocket.SocketEngine.Configuration.SocketServiceConfig, SuperSocket.SocketEngine" />
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>

	<appSettings>
		
		<!--沉降配置-->
		<add key="gaugePort" value="8651" />
		<add key="gaugeLogData" value="true" />
		<add key="gaugeDatabaseCache" value="true" />
		<add key="gaugeRefreshExpirationTime" value="600" />
		<add key="gaugeGatherBetweenInterval" value="2" />
		<add key="gaugeHeartBeatInterval" value="270" />
		<add key="gaugeFirstTimeSendInterval" value="30" />
		<add key="gaugeSendSleepTime" value="200" /><!--毫秒-->
		<add key="gagueWechatOn" value="true" />

		<!--位移配置-->
		<add key="movePort" value="8652" />
		<add key="moveLogData" value="true" />
		<add key="moveDatabaseCache" value="true" />
		<add key="moveRefreshExpirationTime" value="600" />
		<add key="moveHeartBeatInterval" value="270" />
		<add key="moveWechatOn" value="true" />

		<!--阴保配置-->
		<add key="protectPort" value="8653" />
		<add key="protectLogData" value="true" />
		<add key="protectDatabaseCache" value="true" />
		<add key="protectRefreshExpirationTime" value="600" />
		<add key="protectHeartBeatInterval" value="270" />
		<add key="protectFirstTimeSendInterval" value="30" />
		<add key="protectSendSleepTime" value="200" /><!--毫秒-->
		
		<!--公众号配置-->
		<add key="wechatUrl" value="http://xinaocj.hilang.com.cn/api/weChat/send"/>
		
		<!--数据库配置-->
		<add key="database" value="Database=xinao_cj;Data Source=127.0.0.1;Port=3306;User Id=xinao-HL;Password=xinAo@2023-zs;Charset=utf8;" />
	</appSettings>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
	
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.31.0" newVersion="8.0.31.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.1" newVersion="5.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
	
</configuration>